services:
  frontend:
    build:
      context:  ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://backend:5000

  backend:
    build: ./backend
    ports:
      - "5000:5000"
   # volumes:
    #  - ./backend/todos.json:/app/todos.json
